body {
    background-color: white;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

/*Header section */

h1 {
    font-size: 2.5rem;
}

/*Game area*/

#game-area {
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #8c9ba5;
}

/* Button area*/

#button-area {
    padding: 1%;
}

.btn {
    width: 15%;
    height: auto;
    padding: 2.5%;
    margin: 2%;
}

i {
    font-size: 2rem;
}

/* Game area */

.choice-box {
    width: 20%;
    height: 5rem;
    /*background-color: red;*/
    padding: 2%;
    display: inline-block;
    font-size: 1rem;
}

.left {
    float: left;
    margin-left: 10%;
}

.right {
    float: right;
    margin-right: 10%;
}

.win-lose {
    display: inline-block;
    /*background-color: red;*/
    height: 5rem;
    width: 20%;
    margin-top: 2%;
}

#inside-result {
    padding-top: 8%;
    padding-bottom: auto;
}

/* score section */

.scores{
    clear: both;
    padding: 1.5rem 0;
}

.your-score {
    display: inline;
    padding: 2rem;
}

.comp-score {
    display: inline;
    padding: 2rem;
}

/* Rules section*/

h3 {
    text-decoration: underline;
}

ul {
    text-align: center;
    list-style: inside;
    padding: 0;
    margin: 0;
}

/*media query*/

@media screen and (max-width: 445px){
    body {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

    i {
        font-size: 1.5rem;
    }

    .scores {
        font-size: 0.75rem;
    }

}