body {
    background-color: white;
    text-align: center;
}

/*Header section */

h1 {
    text-align: center;
    font-size: 2.5rem;
}

/*Game area*/

#game-area {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
}

.btn {
    width: 15%;
    height: auto;
    padding: 2.5%;
    margin: 2%;
}

i {
    font-size: 2.5rem;
}